
/*Section*/

.section-parrafos {
    margin: 80px 25%;
    text-align: center;
}

.section-parrafos p {
    margin: 5px 0;
    color: var(--gris-letras);
    font-size: var(--sm);
}

.container-imagenes {
    margin-bottom: 130px;
}
.caja-imagnes {
    text-align: center;
}
.imagen {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.imagen img {
    width: 350px;
    height: 230px;
    text-align: center;
}
.informacion-imagen {
    width: 100%;
    height: 18%;
    position: absolute;
    top: 45%;
    background: var(--blanco);
    text-align: center;
    display: flex;
}
.enlace-1,
.enlace-3 {
    position: absolute;
    top: 15%;
    left: 38%;
    color: var(--gris-letras);
    text-decoration: none;
    font-size: 25px;
}
.enlace-2 {
    position: absolute;
    top: 15%;
    left: 30%;
    color: var(--gris-letras);
    text-decoration: none;
    font-size: 25px;
}

.enlace-1:hover{
    color: var(--hover-links);
}
.enlace-2:hover{
    color: var(--hover-links);
}
.enlace-3:hover{
    color: var(--hover-links);
}

/*Subtitulos de publicidad*/

.container-info {
    text-align: center;
    margin-bottom: 150px;
    padding: 25px;
}

.container-info div {
    display: inline-block;
    margin: 0 50px;
}
.info-mencion p{
    font-size: 20px;
    padding: 15px 0;
}

.info-blog {
    text-align: left;
    font-size: 20px;
}
.info-blog span {
    font-weight: 900;
}

.info-planetour {
    font-size: 20px;
}
.bi-emoji-sunglasses {
    font-weight: bold;
    color: #C8232C;
    font-size: 25px;
}
.info-planetour span {
    font-weight: 900;
}

.info-mundoviaje {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 5px;
}

.info-skycloud {
    font-size: 20px;
    text-align: end;
    font-weight: 900;
}