.container-fluid {
    padding: 35px 0;
    text-align: center;
}

.header-container {
    margin: 0 20px;
    display: inline-block;
}

.container-fluid .header-container:nth-child(1) {
    padding: 0 auto;
}

/*Buscador*/
.input-buscador {
    border: 0;
    border-bottom: 1px solid var(--border-gris);
    padding-bottom: 5px;
    color: var(--negro);
}

input:focus {
    outline: 0;
}

.buscador .bi-search {
    position: relative;
    top: 5px;
    margin-left: 5px;
    font-weight: 900;
    font-size: var(--md);
}

.buscador .bi-search:hover {
    cursor: pointer;
    color: #505050;
    font-size: var(--md);
}

/*Lista de navegacion*/
.menu-lista-navegacion {
    display: inline-block;
    margin-top: 5px;
}

/*Para poder los LI uno al lado del otro tambien se le puede poner a su etiqueta
li = display:inline-block; → Esto ayuda para mejorar nuestro codigo 
sin tener que poner display flex*/

.menu-lista-navegacion {
    margin: 0 30px;
    list-style: none;
}

.menu-lista-navegacion a {
    font-size: var(--sm);
    font-weight: bold;
    color: var(--gris-letras);
    text-decoration: none;
}

.menu-lista-navegacion a:hover {
    color: var(--hover-links);
}

/*Iconos Redes*/
.iconos-redes {
    margin-top: 8px;
    color: var(--gris-letras);
}

.iconos-redes a {
    margin: 0 5px;
    color: var(--gris-letras);
}

.facebook:hover {
    color: #3B5998;
}

.instagram:hover {
    color: #DD2A7B;
}

.pinterest:hover {
    color: #C8232C;
}

.twitter:hover {
    color: #00ACEE;
}

/* Animacion de iconos */
.icon {
    display: inline-block;
    font-size: 20px;
    animation: float 3s ease-in-out infinite;
}

.bi-instagram {
    animation-delay: 0.5s;
}

.bi-pinterest {
    animation-delay: 1s;
}

.bi-twitter {
    animation-delay: 1.5s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/*Contenedor imgaen*/
.img-fondo {
    background-image: url(/imagenes/viaje2.jpg);
    background-position-y: -4rem;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-imagen {
    text-align: center;
    color: var(--blanco);
}

.info-imagen p {
    font-size: 2rem;
    margin: 1rem;
    text-shadow: -4px 2px 3px var(--negro);
}

.info-imagen h2 {
    font-size: 4.5rem;
    text-shadow: -4px 2px 5px var(--negro);
}