* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid {
    padding: 35px 100px;
    justify-content: center;
    display: flex;
}

.header-container {
    margin: 0 25px;
}

.container-fluid .header-container:nth-child(1) {
    padding: 0 20px;
}

.container-fluid .header-container:nth-child(2) {
    padding: 0 20px;
}

.container-fluid .header-container:nth-child(3) {
    padding: 0 20px;
}

/*Buscador*/
.input-buscador {
    border: 0;
    border-bottom: 1px solid var(--border-gris);
    padding-bottom: 5px;
    color: var(--negro);
}

input:focus {
    outline: 0;
}

.buscador .bi-search {
    position: relative;
    top: 5px;
    margin-left: 5px;
    font-weight: 900;
    font-size: var(--md);
}

.buscador .bi-search:hover {
    cursor: pointer;
    color: #505050;
    font-size: var(--md);
}

/*Lista de navegacion*/
.menu-lista-navegacion {
    display: flex;
    margin-top: 5px;
}

.menu-lista-navegacion li {
    margin: 0 30px;
    list-style: none;
}

.menu-lista-navegacion li a {
    font-size: var(--sm);
    color: var(--gris-letras);
    text-decoration: none;
}

.menu-lista-navegacion li a:hover {
    color: #4371B3;
}

/*Iconos Redes*/
.iconos-redes {
    margin-top: 8px;
    color: var(--gris-letras);
}

.iconos-redes a {
    margin: 0 5px;
    color: var(--gris-letras);
}

.facebook:hover {
    color: #3B5998;
}

.instagram:hover {
    color: #DD2A7B;
}

.pinterest:hover {
    color: #C8232C;
}

.twitter:hover {
    color: #00ACEE;
}

/*Contenedor imgaen*/

.imagen-viaje {
    width: 100%;
    position: relative;
}

.img-viaje {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.info-imagen {
    position: absolute;
    top: 40%;
    left: 39%;
    color: var(--blanco);
    text-align: center;
    z-index: 999;
}

.info-imagen :nth-child(1) {
    margin-bottom: 10px;
    font-weight: 400;
}

.info-imagen :nth-child(2) {
    margin-bottom: 10px;
    font-size: 60px;
    text-decoration: underline;
}

.info-imagen :nth-child(3) {
    margin-bottom: 25px;
    font-weight: 400;
}

/*Section*/

.section-parrafos {
    margin: 80px 25%;
    text-align: center;
}

.section-parrafos p {
    margin: 5px 0;
    color: var(--gris-letras);
    font-size: var(--sm);
}

/*Cajas imagenes*/
.container-imagenes {
    text-align: center;
}

.caja-imagnes {
    display: flex;
    place-content: center;
}

.imagen{
    margin: 5px;
}
.imagen img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    text-align: center;
}