* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid {
    padding: 35px 0;
    text-align: center;
}

.header-container {
    margin: 0 20px;
    display: inline-block;
}

.container-fluid .header-container:nth-child(1) {
    padding: 0 auto;
}

/*Buscador*/
.input-buscador {
    border: 0;
    border-bottom: 1px solid var(--border-gris);
    padding-bottom: 5px;
    color: var(--negro);
}

input:focus {
    outline: 0;
}

.buscador .bi-search {
    position: relative;
    top: 5px;
    margin-left: 5px;
    font-weight: 900;
    font-size: var(--md);
}

.buscador .bi-search:hover {
    cursor: pointer;
    color: #505050;
    font-size: var(--md);
}

/*Lista de navegacion*/
.menu-lista-navegacion {
    display: inline-block;
    margin-top: 5px;
}

/*Para poder los LI uno al lado del otro tambien se le puede poner a su etiqueta
li = display:inline-block; → Esto ayuda para mejorar nuestro codigo 
sin tener que poner display flex*/

.menu-lista-navegacion {
    margin: 0 30px;
    list-style: none;
}

.menu-lista-navegacion a {
    font-size: var(--sm);
    font-weight: bold;
    color: var(--gris-letras);
    text-decoration: none;
}

.menu-lista-navegacion  a:hover {
    color:var(--hover-links);
}

/*Iconos Redes*/
.iconos-redes {
    margin-top: 8px;
    color: var(--gris-letras);
}

.iconos-redes a {
    margin: 0 5px;
    color: var(--gris-letras);
}

.facebook:hover {
    color: #3B5998;
}

.instagram:hover {
    color: #DD2A7B;
}

.pinterest:hover {
    color: #C8232C;
}

.twitter:hover {
    color: #00ACEE;
}

/*Contenedor imgaen*/

.imagen-viaje {
    width: 100%;
    position: relative;
}

.img-viaje {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.info-imagen {
    position: absolute;
    top: 40%;
    left: 35%;
    color: var(--blanco);
    text-align: center;
    z-index: 999;
}

.info-imagen :nth-child(1) {
    margin-bottom: 10px;
    font-weight: 400;
}

.info-imagen :nth-child(2) {
    margin-bottom: 10px;
    font-size: 80px;
    text-decoration: underline;
}

.info-imagen :nth-child(3) {
    margin-bottom: 25px;
    font-weight: 400;
}

/*Section*/

.section-parrafos {
    margin: 80px 25%;
    text-align: center;
}

.section-parrafos p {
    margin: 5px 0;
    color: var(--gris-letras);
    font-size: var(--sm);
}

.container-imagenes {
    margin-bottom: 130px;
}
.caja-imagnes {
    text-align: center;
}
.imagen {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.imagen img {
    width: 350px;
    height: 230px;
    text-align: center;
}
.informacion-imagen {
    width: 100%;
    height: 18%;
    position: absolute;
    top: 45%;
    background: var(--blanco);
    text-align: center;
    display: flex;
}
.enlace-1,
.enlace-3 {
    position: absolute;
    top: 15%;
    left: 38%;
    color: var(--gris-letras);
    text-decoration: none;
    font-size: 25px;
}
.enlace-2 {
    position: absolute;
    top: 15%;
    left: 30%;
    color: var(--gris-letras);
    text-decoration: none;
    font-size: 25px;
}

.enlace-1:hover{
    color: var(--hover-links);
}
.enlace-2:hover{
    color: var(--hover-links);
}
.enlace-3:hover{
    color: var(--hover-links);
}


/*Subtitulos de publicidad*/
/*
.container-sub__publicidad {
    text-align: center;
    margin-bottom: 200px;
}
.container-subtitulos{
    display: inline-block;
    margin: 0 25px;
    text-align: start;
}
*/